* {margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}
nav, ul {list-style: none;}
a {text-decoration: none; cursor: pointer}

/* HEADER E MENU RESPONSIVO */
header button, section {display: none}
.menu {z-index: 1; width: 100%; height: 100%; position: fixed; background-color: rgba(0,0,0,0.9); top: 0; left: 0}
.btn-close {font-size: 1.5em; color: #fff; float: right; cursor: pointer; margin: 2% 3% 0 0}
.menu ul {width: 100%; float: left; text-align: center}
.menu li {padding: 1.5%}
.menu li a {font-size: 2em; color: #fff; padding: 1.5% 3%}
.menu li a:hover {border: 1px solid #fff}
/* HEADER E MENU LARGE */
header {width: 100%; background-color: #000; display: flex; position: absolute; top: 0; left: 0; align-items: center; font-size: 1.4em; justify-content: space-between;}
header a img {height: 200px; width: 750px}
header nav ul {display: flex; margin-left: -5%;}
header nav ul a {padding: 0 10px; color: #fff; text-align: center;}
header nav ul a:hover {background-color: #fff;color: #101010; cursor: pointer;}
header a i {margin-right: 12px; font-size: 1.2em; color: #fff}
header a i:hover {color: #000; background-color: #fff; cursor: pointer;}
/* AJUSTANDO A RESPONSIVIDADE */
@media (max-width: 1000px) {
    header {flex-direction: column; font-size: 1.2em; height: 250px;}
    header a img {width: 700px; margin-left: 13%;}
    header nav {display: none}
    header #login {display: none}
    header button {display: block; width: 600px; text-align: center; color: #fff; border-radius: 20px; cursor: pointer; border: 2px solid #fff; background-color: #000; height: 50px;}
    header button i {font-size: 1.8em;}
}

.servicos {display: flex; flex-direction: column; align-items: center; padding: 100px 50px; color: #101010; margin-top: 130px;}
.servicos h3 {font-size: 2rem; margin-bottom: 15px; text-transform: uppercase;}
.servicos hr {width: 400px; background-color: #101010; margin-bottom: 30px; border: 1px solid #101010;}
.servicos .grid1 {width: 100%; display: flex; flex-wrap: nowrap;}
.servicos .grid1 hr {width: 100%;}
.servicos .grid1 li {height: 250px; width: 400px; padding: 20px; border-radius: 4px; background-clip: content-box; background-size: cover; background-position: center; text-align: center; margin-bottom: 300px; flex-basis: 40%;}
.servicos .grid1 li h4 {margin-top: 220px; font-size: 1.2em; text-align: center; text-transform: uppercase;}
.servicos .grid1 li h5 {font-size: 1.3em; margin-bottom: 10px;}
.servicos .grid1 li p, i {font-size: 1em; text-transform: uppercase; padding: 10px 0 10px 0; margin-bottom: 15px;}
.servicos .btn-agendar {color: #fff; background-color: #101010; padding: 15px 40px; text-transform: uppercase; border-radius: 4px; margin-bottom: 35px;}
.servicos .btn-agendar:hover {opacity: 0.9;}
@media (max-width: 1000px) {
    .servicos h3 {font-size: 1.7em; margin-top: 55px; text-align: center;}
    .servicos .grid1 {flex-wrap: wrap}
    .servicos .grid1 li {flex-basis: 100%;}
    .servicos hr {width: 100%}
}

footer {width: 100%; height: 400px; background-color: #101010; color: #fff; display: flex; flex-direction: column; align-items: center;}
footer h2 {font-size: 1.3em; text-transform: uppercase; margin-top: 20px}
footer ul {font-size: 1em; text-align: center;}
footer ul li {margin-top: 10px;}
footer p {margin-top: 40px}